@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-bar-container {
  --bg-color-default: #fff;
  --font-color-default: #1f2328;
  --font-color-light: #99a1b3;
  --border-color: #e7ebf0;
  --padding-main-hz: 30px;
  --nav-bar-height: 40px;
}

.nav-bar-container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: var(--root-bar-height);
  height: 66px;
  width: 100%;
  color: var(--font-color-default);
  background-color: var(--bg-color-default);
  padding-left: var(--padding-main-hz);
  padding-right: var(--padding-main-hz);
  border-bottom: 1px var(--border-color) solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-container .gp-items-left {
  width: auto;
  height: auto;
}

.search-bar {
  border: 1px var(--border-color) solid;
  width: 550px;
  display: flex;
  align-items: center;
  height: var(--nav-bar-height);
  padding-left: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar input {
  font-family: 'Roboto', sans-serif;
  font-size: 16.5px;
  font-weight: 400;
  font-style: normal;
  color: #99a1b3;
  background-color: #f7f7f7;
  line-height: 20px;
  height: 30px;
  width: 100%;
  border: none;
  outline: none;
}

.search-bar .search-icon-container {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.search-bar .search-icon-container:hover {
  background-color: #ebebeb;
}

.search-bar .search-icon-container .search-icon {
  color: #99a1b3;
  font-size: 18px;
}

.nav-bar-container .gp-items-right {
  width: auto;
  height: auto;
}

.nav-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--nav-bar-height);
  width: auto;
  list-style: none;
}

.nav-link-container .nav-link {
  margin-left: 5px;
  color: #4a4a4a;

  height: var(--nav-bar-height);
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  position: relative;
}

.nav-link-container .nav-link:hover {
  background-color: #f7f7f7;
}

.nav-link-container .nav-link:nth-child(1) {
  margin-left: 0;
}

.nav-link-container .nav-link .user-icon {
  color: #4a4a4a;
  font-size: 12px;
  margin-right: 8px;
}

.nav-link-container .nav-link .chevron-icon {
  color: #4a4a4a;
  font-size: 12px;
  margin-left: 8px;
}

.nav-bar-container .nav-link p {
  cursor: default;
}

.nav-bar-container .cart-icon-container {
  height: var(--nav-bar-height);
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-left: 5px;
}

.nav-bar-container .cart-icon-container:hover {
  border: 1px #4a4a4a solid;
  border-radius: 20px;
}

.nav-bar-container .cart-icon-container .cart-icon {
  color: #4a4a4a;
}

/* Dropdown Menu Styles */
.categories-dropdown-menu {
  position: absolute;
  top: 103px;
  left: 60%;
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}

.categories-dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.categories-dropdown-menu ul li {
  padding: 10px;
  font-size: 16px;
  color: #1f2328;
  cursor: pointer;
}

.categories-dropdown-menu ul li:hover {
  background-color: #f7f7f7;
  text-decoration: underline;
}
